@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
font-family: Poppins;
}

h1  {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 10px
}

h2{
    text-align: center;
    background-color: rgba(255,204,53,.4);
    width: fit-content;
    margin: 30px auto;
}

h3  {
    font-family: "Poppins";
    font-size: 16px;
    color: #ED1C24;
}

header > div {
    padding: 10 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  nav {
    width: 600px;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;
  }

  nav a {
      text-decoration: none;
      color: black;
  }

  .blackheart {
      width: 20px;
      margin-right: 1em;
      margin-left: 20px;
  }

  .link {
      text-decoration: none;
      color: black;
  }
  .npm-logo {
      width: 50px;
      margin-right: 20px;
      margin-left: 20px;
  }

  .search-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(240, 240, 240);
      flex-basis: 900px;
      height: 38px;
      margin: 8px;
  }

    .magnifying-glass {
        width: 15px;
        padding-left: 10px;
    }

    .search-bar input { 
        background-color: rgb(240, 240, 240);
        color: rgba(3, 3, 3, 0.05);
        padding-left: 10px;
        border: none;
        width: 750px;
    }

    .search-bar button {
        background-color: #fb3e44;
        color: white;
        margin-left: 0;
        border:none;
        height: 38px;
        width: 70px;
    }

.log-in-container {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-right: 20px;
    text-align: center;
}

.log-in-container a {
    text-decoration: none;
    color: black;
    border-style: 0.5px solid grey;
    text-align: center;
}

.join-link {
    border-style: 0.5px solid grey;
}

#intro {
    background-color: rgb(246, 242, 242);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 0;
}

#intro article {
    width: 35%;
    text-align: center;
    margin: 10px;
}

#intro div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    column-gap: 30px;
}

.see-plans {
  color: white;
  text-decoration: none;
  background-color: rgb(246, 59, 69);
  text-align: center;
  padding: 10px 15px;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  flex: 1 0;
}

.join-for-free {
    color: rgb(3, 3, 3);
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    flex: 1 0;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 0;
}
.triangle-hexagon {
    width: 200px;
}

#info article {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.icon {
    width: 30px;
}

#packages {
display: flex;
justify-content: space-between;
padding: 5% 3%;
}

#packages div {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 20%; 
    margin: 20px;
}

.create-org {
    width: 250px;
    height: 40px;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    margin: 0 auto;
    text-align: center;
}

.create-org a {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 40px;
}